{% extends 'base.html' %}
{% block title %}
            Create List
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="hover-white" href="{% url 'todos' %}">Main</a>
    </nav>

</header>
<main>
    <h1>Create a new list</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
</main>
{% endblock content %}