{% extends "base.html" %}

{% block title %}
    {% comment %} {{ todo_list_detail.name }} {% endcomment %}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a class="hover-white" href="{% url 'todos' %}">Main</a>
            <a class="hover-white" href="{% url 'edit' item_list.id %}">edit</a>
        </nav>
    </header>
    <main>
        <h1>{{ todos.objects.name }}</h1>
        <a class="hover-white" href="{% url 'delete' item_list.id %}">Delete</a>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
                <tbody>
                    {% for item in item_list.items.all %}
                        <tr>
                            <td>
                                <a class="hover-white" href="{% url 'edit' item_list.id %}">{{ item.task }}</a>
                            </td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </main>
{% endblock content %}
