{% extends 'base.html' %}
{% block title %}
        Create Tasks
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="hover-white" href="{% url 'todos' %}">Main</a>
    </nav>

</header>
<main>
    <h1>Create Tasks</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Save</button>
    </form>

</main>
{% endblock content %}
