{% extends 'base.html' %}
{% block title %}
Todo Lists
{% endblock title %}
{% block content %}
<header style="position: relative; top: 10px;">
    <div class="inline">
        <nav>
            <a class="hover-white" href="{% url 'todos' %}">Main</a>
            <a class="hover-white" href="{% url 'create' %}">Create</a>
        </nav>
     </div>
</header>
<main>
    <div>
        <h1>My Lists</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                    <tbody>
                        {% for list in todo_list_list %}
                        <tr>
                            <td>
                                <a class="hover-white" href="{% url 'todo_list_detail' list.id %}">
                                    {{ list.name }}</a>

                            </td>
                            <td> {{ list.items.count }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
            </thead>
        </table>
    </div>
</main>
{% endblock content %}